<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CDN  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Authentications</title>
    <style>
      body {
        font-family: "Recursive", sans-serif;
        font-size: larger;
      }
      .customborder {
        border-radius: 2%;
        border: 2px solid #e95420;
      }
    </style>
  </head>

  <body>
    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Authentications</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/file-upload">File Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar end  -->

    <div class="container">
      <!-- show a dialog if user is not verified  -->

      <% if(!verified){ %>
      <div
        class="alert alert-danger alert-dismissible fade show mt-3"
        role="alert"
      >
        <strong>ATTENTION !</strong> Please verify your account to continue
        using our services.
        <a href="/user/send-verification-email">Re-send Verification Email</a>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %> <% if(typeof emailsent !='undefined' ){ %> <% if(emailsent){ %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>SUCCESS</strong> Verification Email Sent Sucessfully. Valid Only
        for 20 minutes.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %> <% } %> <% if(typeof err !='undefined' ){ %> <% if(err){ %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>ERROR </strong>
        <%= err %>.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %> <% } %>

      <h1 class="text-center p-3">Your Profile</h1>

      <div class="row">
        <% data.forEach(items => { %>
        <div class="col-md-4">
          <div class="card">
            <img src="<%= url+'/'+items.nameFile %>" alt="" />
            <div class="card-body">
              <h3 class="card-title">username</h3>
              <button
                class="btn btn-danger"
                data-id="<%= items._id %> "
                id="btn-delete"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
      let token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      $(document).ready(function () {
        $("body").on("click", "#btn-delete", (e) => {
          e.preventDefault();
          let url = window.location.origin;
          let dataId = $(e.target).attr("data-id");
          let result = confirm("Are You Sure To Delete It?");
          if (result) {
            $.ajax({
              url: url + "/file-upload/delete/" + dataId,
              method: "delete",
              headers: {
                "CSRF-Token": token, // <-- is the csrf token as a header
              },
            }).done((res) => {
              if (res.success) {
                alert("Data Successfully deleted!");
                window.location.reload();
              } else {
                alert("Something Error! Error: " + res.error);
              }
            });
          }
        });
      });
    </script>
  </body>
</html>
